.wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.city {
    font-size: 60px;
}

.currentData{
    line-height: 30px;
    font-size: 20px;
    text-align: right;
}


.temp{
    font-size: 70px;
}
.description{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px;
}


@media (max-width: 800px) {
    .city {
        font-size: 40px;
    }
    .temp{
        font-size: 50px;
    }
    .description{
        font-size: 17px;
    }
    .currentData{
        line-height: 20px;
        font-size: 17px;
    }
}